<!-- Permet de créer un nouveau gossip à l'aide de la fourniture d'un formulaire -->

<br>
<a href=<%= gossip_index_path %>><button class='btn btn-primary'>Retour</button></a>

<div class='container mt-4'>
<div class='row justify-content-center'>
      <div class='col-6'>
            <% if @gossip != nil %>
            <div class ='alert alert-danger'>
                  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
                  <ul>
                  <% @gossip.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                  <% end %>
                  </ul>
            </div>
            <% end %>
      
            <%= form_tag url_for(action: 'update'), method: "put" do %>
                  <div class='form-group'>
                        <%= label_tag 'Titre' %>
                        <%= text_field_tag 'title', @gossip.title, class: 'form-control' %>
                  </div>
                  <div class='form-group'>
                        <%= label_tag 'Ton potin' %>
                        <%= text_area_tag 'content', @gossip.content, class: 'form-control', rows: 5 %>
                  </div>
                  <%= submit_tag "Modifier", class: 'btn btn-primary' %>
            <% end %>
      </div>
</div>
</div>