<!DOCTYPE html>
<html>
<br/>
<br/>
<div class="jumbotron jumbotron-fluid" style="background-color:#cae3ed">
  <div class="container">
    <h1 class="display-5 text-center" style="color:#37444a" ><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="text-center">
     Age : <%= @user.age %> ans<br>
     Email : <%= @user.email %><br>
     Ville de résidence : <%= @user.city.name %><br>
     Description : <%= @user.description %><br><br>
     <a href=<%= gossip_index_path %>><button class='btn btn-primary'>Retour</button></a>
     
    <a href=<%= city_path(@user.city.id) %>><button class='btn btn-success'>info relative à la ville</button></a>
    </p>
    </div>
</div>

<h3 class="display-5 text-center" style="color:#37444a ">Voici la liste des gossips postés par <%= @user.first_name %></h3><br>
<% @user.gossips.each do |gossip| %>
<div class="list-group" style="margin-left: 15px; margin-right: 15px" >
   <a href="<%= gossip_path(gossip.id)%>" class="list-group-item list-group-item-action " style="background-color:#cae3ed">
        <div class="d-flex w-100 justify-content-between">

            <h5 class="mb-1"><%= gossip.title %></h5>
            <small>Gossip n°<%= gossip.id %></small>
        </div>
          <p class="mb-1"><%=gossip.content%></p>
          <small><%= gossip.created_at %></small>
    </a>   
</div>

  
<br/>
<% end %>

  
</html>
